apiVersion: v1
kind: Service
metadata:
  name: alertreceiver
  labels:
    app: alertreceiver
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: alertreceiver

